.fa-heart {
    margin-left: 7px;
}

.fa-heart::before {
    font-size: 26px;
}

/* Profile */
.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
    padding: 0 3% 0 3%;
    border-radius: 5px;
}

.photograph-header img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.info-profile h1 {
    color: #d3573c;
    font-size: 64px;
    margin: 0;
}

.info-profile h2 {
    color: #901c1c;
    font-size: 24px;
    margin: 2% 0 2% 0;
}

.info-profile p {
    font-size: 18px;
}

/* En bas de la page : nombre de likes et prix journalier */
.info {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #db8876;
    border-radius: 5px;
    width: 300px;
    padding: 1%;
}

.info_price {
    font-size: 24px;
    margin: 0;
}

.info_like {
    display: flex;
}

.like_total {
    font-size: 24px;
    margin: 0;
}

.info .fa-heart {
    font-size: 24px;
}

/* Sort */
#listbox {
    width: 290px;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
}

#listbox label {
    font-weight: 700;
}

.select {
    width: 200px;
}

.listbox_btn,
.options li {
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.listbox_btn {
    height: 50px;
    padding: 0 20px;
    border-radius: 5px 5px 0 0;
    background-color: #901c1c;
    color: white;
    justify-content: space-between;
}

.listbox_btn .fa-angle-down {
    font-size: 28px;
    transition: transform 0.3s linear;
}

#listbox.active .fa-angle-down {
    transform: rotate(180deg);
}

.content {
    display: none;
    padding: 1px 10px 0 10px;
    border-radius: 0 0 5px 5px;
    background-color: #901c1c;
}

#listbox.active .content {
    display: block;
}

.content .options {
    margin-top: 10px;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
}

.options li {
    height: 40px;
    padding: 10px 0 10px 0;
    color: white;
}

li:nth-child(2) {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.options li:hover,
li.selected {
    background-color: #cc4444d8;
}

/* Gallery of images */
.gallery {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5%;
    margin-top: 7%;
    margin-left: 100px;
    margin-right: 100px;
}

.gallery article {
    width: 370px;
    height: 350px;
    margin-bottom: 5%;
}

.gallery-media {
    width: 100%;
    height: 90%;
    border-radius: 5px;
    -o-object-fit: cover;
    object-fit: cover;
}

.info-media {
    display: flex;
    justify-content: space-between;
    color: #901c1c;
    font-size: 24px;
}

.info-media .title {
    margin: 0;
    width: 75%;
}

.like {
    display: flex;
}

.like_number {
    margin: 0;
}

/* Modale and form */
*:focus {
    border: 5px solid #d3573c;
}

button:focus {
    border: 4px solid #901c1c;
    background-color: #d3573c;
}

*:focus-visible {
    outline: #d3573c;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
}

.modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    margin-bottom: 3%;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 10%;
}

form label {
    color: #312e2e;
    font-size: 36px;
}

form div {
    width: 100%;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}

form textarea {
    font-size: 30px;
    width: 100%;
    resize: vertical;
}

.message-error {
    display: none;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
}

/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.lightbox.show {
    display: flex;
}

.lightbox_content {
    display: flex;
    justify-content: center;
    width: 70%;
}

.lightbox button {
    border: none;
    background-color: transparent;
    position: fixed;
    cursor: pointer;
    color: #901c1c;
}

.lightbox_next,
.lightbox_prev {
    width: 50px;
    height: 100%;
    top: 0;
    right: 5%;
    margin-top: -14px;
    font-size: 50px;
}

.lightbox_prev {
    right: auto;
    left: 5%;
}

.lightbox_close {
    font-size: 45px;
    top: 10px;
    right: 5%;
    z-index: 10;
}

.lightbox_image,
.lightbox_video {
    width: 100%;
    height: 750px;
}

.lightbox_video:focus {
    border: none;
}

.lightbox_title {
    color: #901c1c;
    font-size: 24px;
    margin: 0;
}
