.fa-heart {
    margin-left: 7px;
}

.fa-heart::before{
    font-size: 26px;
}

/* Profile */
.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
    padding: 0 3% 0 3%;
    border-radius: 5px;
}

.photograph-header img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.info-profile {
    justify-self: flex-start;
    width: 40%;
}

.info-profile h1 {
    color: #d3573c;
    font-size: 64px;
    line-height: 83px;
    margin: 0;
}

.info-profile h2 {
    color: #901c1c;
    font-size: 24px;
    line-height: 31px;
    margin: 2% 0 2% 0;
}

.info-profile p {
    font-size: 18px;
}

/* Tri */
#listbox {
    width: 450px;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 18px;
}

#listbox_label {
    display: flex;
    justify-content: space-between;
}

.select {
    width: 370px;
}

.listbox_btn,
.options li {
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.listbox_btn {
    height: 50px;
    padding: 0 20px;
    border-radius: 5px 5px 0 0;
    background-color: #901c1c;
    color: white;
    justify-content: space-between;
}

.listbox_btn .fa-angle-down {
    font-size: 28px;
    transition: transform 0.3s linear;
}

#listbox.active .fa-angle-down {
    transform: rotate(180deg);
}

.content {
    display: none;
    padding: 1px 10px 0 10px;
    border-radius: 0 0 5px 5px;
    background-color: #901c1c;
}

#listbox.active .content {
    display: block;
}

.content .options {
    margin-top: 10px;
    padding-inline-start: 0;
}

.options li {
    height: 30px;
    padding: 10px 0 10px 0;
    color: white;
}

li:nth-child(2) {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.options li:hover,
li.selected {
    background-color: #cc4444d8;
}

/* En bas de la page : nombre de likes et prix journalier */
.info {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #db8876;
    border-radius: 5px;
    width: 350px;
    padding: 1%;
}

.info-prix {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    margin: 0;
}

.info-like{
    display: flex;
}

.like-tot {
    font-size: 24px;
    margin: 0;
}

.info .fa-heart {
    font-size: 24px;
}

/* Galerie d'image */
.galery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4%;
    margin-left: 100px;
    margin-right: 100px;
}

.galery article {
    width: 360px;
    height: 310px;
    margin-bottom: 10%;
}

.galery-media {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.info-media {
    display: flex;
    justify-content: space-between;
    color: #901c1c;
    font-size: 24px;
}

.info-media .titre {
    margin: 0;
    width: 75%;
}

.coeur {
    display: flex;
}

.coeur-nombre {
    margin: 0;
}

/* Modale et form */
*:focus {
    border: 5px solid #d3573c;
}

button:focus {
    border: 4px solid #901c1c;
    background-color: #d3573c;
}

*:focus-visible {
    outline: #d3573c;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
}

.modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%;
}

form label {
    color: #312e2e;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}

form textarea {
    font-size: 30px;
    width: 100%;
    resize: vertical;
}

.message-error {
    display: none;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
}

/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.8);
    align-items: center;
    justify-content: center;
}

.lightbox.show {
    display: flex;
}

.lightbox__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    width: 70%;
}

.lightbox button {
    border: none;
    background-color: transparent;
    position: fixed;
    cursor: pointer;
    color: #901c1c;
}

.lightbox__next,
.lightbox__prev {
    width: 50px;
    height: 100%;
    top: 0;
    right: 5%;
    margin-top: -14px;
    font-size: 50px;
}

.lightbox__prev {
    right: auto;
    left: 5%;
}

.lightbox__close {
    font-size: 45px;
    top: 10px;
    right: 5%;
    z-index: 10;
}

.lightbox__image,
.lightbox__video {
    width: 100%;
    height: 750px;
}

.lightbox__video:focus {
    border: none;
}

.lightbox__titre {
    color: #901c1c;
    font-size: 24px;
    margin: 0;
}
